@{
    ViewData["Title"] = "Home Page";
    var userRole = Context.Session.GetString("UserRole"); 
    var userEmail = Context.Session.GetString("UserEmail"); 
}
<div class="text-end mt-4">
    <a href="@Url.Action("Login", "User")" class="btn btn-primary btn-lg">Sign In</a>
</div>

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary mb-4">Welcome @userEmail</h1>
    <hr class="mb-4" />

    <div class="d-flex justify-content-center gap-3">
        @if (userRole == "Admin")
        {
            <a href="/Student/Add" class="btn btn-lg btn-primary shadow-lg">Add New Student</a>
            <a href="/Student/Show" class="btn btn-lg btn-outline-primary shadow-lg">Show All Students</a>
            <a href="/User/ManageUsers" class="btn btn-lg btn-warning shadow-lg">Manage Users</a>
        }
        else{
        <a href="/Student/Show" class="btn btn-lg btn-outline-primary shadow-lg">Show All Students</a>
        }
    </div>
</div>
